<!-- <h1>Hello, {{ title }}</h1>
<p>Congratulations! Your app is running. 🎉</p>
<img [src]="imageUrl" alt="Example Image"> -->
<!-- <app-usercomponent></app-usercomponent>
<button (click)="onClick()">Click me</button>

<app-footercomponent></app-footercomponent> -->

<!-- <app-task-list></app-task-list> -->
<!-- <app-register-reactive-form></app-register-reactive-form> -->

<!-- <app-login-template-form></app-login-template-form> -->
<!-- <app-index></app-index> -->
<router-outlet></router-outlet>
