<!-- <div class="container">
    <div class="header">
      <h1 class="title">Application Home Page</h1>
    </div>
    <nav class="navigation">
      <a routerLink='/' class="nav-link">Home</a>
      <button routerLink='/login' class="nav-button">Login</button>
      <button routerLink='/register' class="nav-button">Register</button>
    </nav>
    <router-outlet></router-outlet>
  </div> -->

  <div class="container">
    <div class="header">
      <h1 class="title">Universities Info Application</h1>
    </div>
    <app-navigation></app-navigation>
    <div class="welcome-message">
      <p>Welcome to the Universities Info Application. Explore comprehensive information about universities around the globe!</p>
    </div>
  </div>
  